<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Delius|Vollkorn+SC" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <title></title>
</head>
<body>
<div align="right" class="header">

    <a href="">new gift  |</a>
    <a href="https://www.google.iq">contact us</a>

</div>

<div class="nav">
    <div class="container con2">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"><span id="span1">com</span><span id="span2">سوگ</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home | <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My feedBack |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Cart |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wish List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="row row2">
                    <a href="woman">Women's Clothing</a>
                </div>
                <div class="row row2">
                    <a href="man">Men's Clothing</a>
                </div>
                <div class="row row2">
                    <a href="phones">Phones & Accessories</a>
                </div>
                <div class="row row2">
                    <a href="computer"> Computer & Office</a>
                </div>
                <div class="row row2">
                    <a href="url">Jewelry & Watches</a>
                </div><div class="row row2">
                    <a href="home">Home &  Furniture</a>
                </div>
                <div class="row row2">
                    <a href="bags">Bags and Shoes</a>
                </div>
                <div class="row row2">
                    <a href="url">Toys, Kids & Baby</a>
                </div>
            </div>
            <div class="col-12 col-md-8" id="root">
                <div class="row  ">
                    <div class="col">
                        <div class="row">
                            <div v-for="index in computer"   class="col-md-4 col-12 col4" align="center">
                                <div  class="card" style="width: 18rem;">
                                    <img class="card-img-top  col4" v-bind:src="index.img" alt="Card image cap" id="objectImg" align="center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{index.name}}</h5>
                                        <h5>{{index.price}} $</h5>
                                        <a href="#" class="btn btn-primary">by it now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el:"#root" ,
        data:{
            computer:[]
        },
        mounted:function () {
            axios.get('/api/computer').then(function (response) {
                app.computer= response.data;

            })
        }
    });
</script>
</body>
</html>
