<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Delius|Vollkorn+SC" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">


    <title>feedback</title>
  </head>
  <body>

    <div align="right" class="header">

        <a href="">new gift  |</a>
        <a href="#end">contact us</a>

    </div>

    <div class="nav">
      <div class="container con2">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <a class="navbar-brand" href="#"><span id="span1">com</span><span id="span2">سوگ</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home | <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="feedback">My feedBack |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Cart |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Wish List</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div align="center" class="nav2">
      <a href="woman">Women  |  </a>
      <a href="man">Men        |  </a>
      <a href="bags">Bags      |  </a>
      <a href="toys">Toys      |  </a>
      <a href="computer">Computer     |  </a>
      <a href="phones">Phones        </a>
    </div>
    <div class="container con3" id="root">
              <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          add your feedback
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                      <label for="exampleFormControlInput1">name</label>
                      <input v-model="feedBack.name"type="text" class="form-control" >
                  </div>
                  <div class="form-group">
                      <label for="exampleFormControlInput1">your feedback</label>
                      <input v-model="feedBack.myFeed" type="text" class="form-control" >
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button @click="addFeed" type="button" class="btn btn-primary">add</button>
              </div>
            </div>
          </div>
        </div>
      <div v-for="index in feedBacks"class="row">
        <div class="col-12">
          <div class="card">
                <div class="card-header">
                my feedback
                </div>
                <div class="card-body">
                <h5 class="card-title">{{index.name}}</h5>
                <p class="card-text">{{index.myFeed}}</p>
                <a href="#" class="btn btn-success btn-sm">edit</a>
                <a @click="Remove(feedBacks._id)" class="btn btn-danger btn-sm">delete</a>
                </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var app = new Vue({
        el:"#root" ,
        data:{
          feedBack:{
            name:"",
            myFeed:""
          },
          feedBacks:[]
        },
        methods:{ addFeed:function()
        {
          axios.post('/api/feed', {feeds:this.feedBack}).then(function (response) {
                if(response.data.isSuccess){
                  axios.get('/api/feed').then(function (response) {
                      app.feedBacks= response.data;

                  })
                  $('#exampleModal').modal('hide')
                }
                }).catch(function (error) {
                })
        } ,
        Remove:function(id){
          axios.delete('/api/feed',{params:{id:id}}).then(function(response){
            if(response.data.isSuccess){
              axios.get('/api/feed').then(function (response) {
                  app.feedBacks= response.data;

              })
            }
          })
        }
      },
      mounted:function () {
            axios.get('/api/feed').then(function (response) {
                app.feedBacks= response.data;

            })
          }
      })
    </script>
  </body>
</html>
